<table >
    <br/>
    <br/>
    <tr >
      <td><%= button_to "Okay" , :action => :sms_in %></td>&thinsp;
      <td><%= button_to "Cancel Order" , :action => :cancel_trans %></td>
    </tr>
  </table>