<h1>About</h1>
<p>
  This system provides the user with a catalog of different books organized into categories
  available for purchase in the store. In order to facilitate online purchase a
  shopping cart is provided. The payment mode of this system is through
  M-pesa where a one receives an invoice through SMS and then pays using M-pesa.
  After the order has been processed the customer is notified through SMS and when
  the books will be delivered. The system also allow users to upload and share non
  copy written materials for free.
</p>
<br/>
<br/>
<p>
<h3>For more information Contact:</h3>
Email: banta1@hotmail.com<br/>
Phone: +254713973902
</p>