<h1>Terms and Conditions</h1>

<p>
  User information is private and confidential.
</p>

<p>
  When a user sign up to the system he/she agree to the terms and conditions of this web-site and that the information given is true.
</p>

<p>
  Excess money paid by the user will be returned on the time of delivery.
</p>
<p>
  If a user has paid money and his/her transaction is canceled is required to contact the company and the return of money will be processed immediately.
</p>

